.radio-box {
  background-color: rgb(165, 183, 199);
  width: 200px;
  height: 50px;
  display: grid;
  place-items: center;
}
.radio-box .box {
  background-color: white;
  height: 25px;
  width: 46px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 2px 1px 2px 1px;
  cursor: pointer;
}
.radio-box .box .item {
  width: 23px;
  height: 23px;
  border: 1px solid rgb(197, 186, 186);
  border-radius: 50%;
  padding: 1px;
  cursor: pointer;
  background-color: white;
}
