.ten-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fed887;
}
.ten-box .ten-wrapper {
  width: var(--global_width);
  max-width: var(--global_max_width);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  height: 500px;
}
.ten-box .ten-wrapper .left {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 35%;
}
.ten-box .ten-wrapper .left img {
  width: 100%;
}
.ten-box .ten-wrapper .right {
  margin: 40px 0 0 0px;
  text-align: left;
}
.ten-box .ten-wrapper .right .header {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
}
.ten-box .ten-wrapper .right .text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  margin: 30px 0 0 0;
}
.ten-box .ten-wrapper .right .box {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  margin: 30px 0 0 0;
  background-color: white;
  padding: 10px 20px;
  border-radius: 30px;
}
@media only screen and (max-width: 1000px) {
  .ten-box {
    height: fit-content;
  }
  .ten-box .ten-wrapper {
    height: fit-content !important;
    align-items: center;
    width: 95%;
    max-width: 95%;
    padding: 10px 0 10px 0;
  }
  .ten-box .ten-wrapper .left {
    width: 50%;
    display: grid;
    place-items: center;
  }
  .ten-box .ten-wrapper .left img {
    width: 100%;
  }
  .ten-box .ten-wrapper .right {
    width: 50%;
    margin: 0;
  }
  .ten-box .ten-wrapper .right .header {
    margin: 0;
    font-size: 18px;
  }
  .ten-box .ten-wrapper .right .text {
    margin: 10px 0 0 0;
    font-size: 14px;
  }
  .ten-box .ten-wrapper .right .box {
    margin: 10px 0 0 0;
    font-size: 14px;
  }
  /* dsff */
  /* .ten-box {
    height: fit-content;
    .ten-wrapper {
      height: fit-content !important;
      align-items: center;
      width: 95%;
      max-width: 95%;
      padding: 10px 0 10px 0;

      .left {
        width: 50%;
        display: grid;
        place-items: center;
      }
      .left img {
        width: 100%;
      }
      .right {
        width: 50%;
        margin: 0;
        .header {
          margin: 0;
          font-size: 18px;
        }
        .text {
          margin: 10px 0 0 0;
          font-size: 14px;
        }
        .box {
          margin: 10px 0 0 0;
          font-size: 14px;
        }
      }
    }
  } */
}
@media only screen and (max-width: 600px) {
  .ten-box {
    margin: 0px 0 0 0;
  }
  .ten-box .ten-wrapper {
    width: 95%;
    max-width: 95%;
    flex-direction: column-reverse;
    height: fit-content;
  }
  .ten-box .ten-wrapper .right {
    width: 100%;
  }
  .ten-box .ten-wrapper .right .header {
    font-size: 24px;
    margin: 0px 0 0 0;
  }
  .ten-box .ten-wrapper .right .text {
    margin: 10px 0 0 0;
    font-size: 18px;
  }
  .ten-box .ten-wrapper .right .box {
    font-size: 20px;
    margin: 10px 0 0 0;
  }
  .ten-box .ten-wrapper .left {
    width: 100% !important;
    height: fit-content !important;
    margin: 20px 0 20px 0;
    overflow: hidden !important;
    align-items: center !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .ten-box .ten-wrapper .left img {
    object-fit: contain !important;
    margin: 0 !important;
    padding: 0 !important;
  }
}
