.six-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.six-box .six-wrapper {
  width: var(--global_width);
  max-width: var(--global_max_width);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 30px 0 80px 0;
}
.six-box .six-wrapper h1 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
}
.six-box .six-wrapper .inner-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.six-box .six-wrapper .inner-box .left {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.six-box .six-wrapper .inner-box img {
  width: 80%;
  height: 80%;
}
.six-box .six-wrapper .inner-box .right {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 8% 0 0 0;
}
.six-box .six-wrapper span {
  width: 100%;
  text-align: left;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  margin: 3px 0 3px 0;
}
.six-box .six-wrapper .example {
  margin: 10px 0 10px 0px;
}
@media only screen and (max-width: 1000px) {
  .six-box {
    padding-bottom: 30px;
    min-height: fit-content;
  }
  .six-box .six-wrapper {
    margin: 40px 0 0 0;
    min-height: fit-content;
    width: 95%;
    max-width: 95%;
  }
  .six-box .six-wrapper .inner-box {
    width: 100%;
  }
  .six-box .six-wrapper .inner-box .left {
    width: 50%;
  }
  .six-box .six-wrapper .inner-box .left img {
    width: 100%;
  }
  .six-box .six-wrapper .inner-box .right {
    width: 50%;
  }
  .six-box .six-wrapper .inner-box .right span {
    font-size: 14px;
    line-height: 110%;
    margin: 2px 0 3px 0;
  }
  .six-box .six-wrapper h1 {
    font-size: 24px;
    margin: 0;
  }
  /* dfsdfsd */
  /* .six-box {
    padding-bottom: 30px;
    min-height: fit-content;
    .six-wrapper {
      margin: 40px 0 0 0;
      min-height: fit-content;
      width: 95%;
      max-width: 95%;
      .inner-box {
        width: 100%;
        .left {
          width: 50%;
        }
        .left img {
          width: 100%;
        }
        .right {
          width: 50%;
        }
        .right span {
          font-size: 14px;
          line-height: 110%;
          margin: 2px 0 3px 0;
        }
      }
    }
    .six-wrapper h1 {
      font-size: 24px;
      margin: 0;
    }
  } */
}
@media only screen and (max-width: 600px) {
  .six-box {
    padding-bottom: 0;
  }
  .six-box .six-wrapper {
    width: 95%;
    max-width: 95%;
    margin-bottom: 20px;
  }
  .six-box .six-wrapper h1 {
    font-size: 24px;
  }
  .six-box .six-wrapper .inner-box {
    flex-direction: column;
  }
  .six-box .six-wrapper .inner-box .left {
    width: 100%;
    align-items: center;
  }
  .six-box .six-wrapper .inner-box .right {
    width: 100%;
  }
  .six-box .six-wrapper .inner-box .right span {
    font-size: 14px;
    margin: 0;
    line-height: 120%;
  }
}
